$text: #ccc;
$banner: #0c2461;
$introduction: #079992;
$location: #e55039;
$weather:#fa983a;
$motivation: #b71540;
$motivationRange: #1e3799;
$knowledge: #1B9CFC;
$presentation: #FEA47F;
$game: #58B19F;
$checkmarks: #6D214F;