.checkMarks {
    @include windowFill;
    background-color: $checkmarks;

    .summit {
        width: 40%;
        flex-direction: row;
        justify-content: space-between;
    }

    div {
        @include positioned;
        h2 { 
            padding: 40px;
            text-align: center;
            font-size: 3.5rem;
            color: $text2;
        } 
        span {
            color: $text2;
            font-size: 3rem;
        }
    }
}
