.location {
    width: 100vw;
    height: 100vh;
    background-color: $location;

    div {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 { 
            padding: 10px;
            text-align: center;
            font-size: 5rem;
            color: $text;
        }

        button {
            margin-bottom: 20px;
            color: $location;
            font-size: 3rem;
            width: 170px;
            height: 70px;
            border-radius: 50px;
            background-color: $text;
        }
        p,a  {
            font-size: 2.5rem;
        }

        h3 {
            margin: 20px;
            text-align: center;
            font-size: 3rem;
        }  

        .arrowLocation {
            text-decoration: none;
            color: $text;
            border: 4px solid $text;
            border-radius: 50%;
            padding: 0 16px;
            margin-top: 30px;
            font-size: 3.5rem;
            transition: 4s;
            animation: arrowMove .8s infinite alternate;
        }
        
        
        @keyframes arrowMove {
            from {
                bottom: 0%;
                opacity: 0;
            }
        
            to {
                bottom: 1.5%;
                opacity: 1;
            }
        }
    }
}