.location {
    @include windowFill;
    background-color: $location;

    div {
        @include positioned;
        h2 { 
            padding: 10px;
            text-align: center;
            font-size: 5rem;
            color: $text;
        }

        button {
            margin-bottom: 20px;
            color: $location;
            font-size: 3rem;
            width: 170px;
            height: 70px;
            border-radius: 50px;
            border: none;
            background-color: $text;
            transition: .7s;
            transition-timing-function: linear;
            &:hover {
                color: $text;
                transform: scale(1.1);
                background: #659999;
                background: linear-gradient(to right, #f4791f, #659999); 
                border: none;
            }
        }
        p,a  {
            font-size: 2.5rem;
        }

        h3 {
            margin: 20px;
            text-align: center;
            font-size: 3rem;
            background: -webkit-linear-gradient($motivation, $text);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }  

        .arrowLocation {
            text-decoration: none;
            color: $text;
            border: 4px solid $text;
            border-radius: 50%;
            padding: 0 16px;
            margin-top: 30px;
            font-size: 3.5rem;
            transition: 4s;
            animation: arrowMove .8s infinite alternate;
            transition: 2s;
            &:hover {
                transform: scale(1.2);
                background: linear-gradient(to right, #f4791f, #659999);
                border: none;
            }
        }
        
        
        @keyframes arrowMove {
            from {
                bottom: 0%;
                opacity: 0;
            }
        
            to {
                bottom: 1.5%;
                opacity: 1;
            }
        }
    }

}