.motivation {
    width: 100vw;
    height: 100vh;
    background-color: $motivation;

    &__container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__msg {
            color: $text2;
            padding: 40px;
            font-size: 3rem;
        }

        h2 { 
            padding: 50px;
            text-align: center;
            font-size: 3.5rem;
            color: $text2;
        }
        .rangeContainer {
            width: 70%;
            .slider {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 20px;
                border-radius: 10px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                &:hover {
                    background: #d3d3d3df;
                    background: linear-gradient(to right, #f4791f, #659999); 
                }
            }   
        }
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        transform: translateX(-50%);
        background: $weather;
        cursor: pointer;
        transition: .4s linear;
        &:hover {
            transform: scale(1.1);
            background: #fb8719;
        }
    }

    .slider::-moz-range-thumb {
        width: 25px; 
        height: 25px; 
        background: $text; 
        cursor: pointer; 
      }

}