.presentation {
    width: 100vw;
    height: 100vh;
    background-color: $presentation;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(163, 18, 86)),url(../images/presentation.jpg);
    background-size: cover;
    opacity: .7;

    div {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 { 
            padding: 50px;
            text-align: center;
            font-size: 5rem;
            color: $text;
        }

        button {
            color: $text;
            font-size: 3rem;
            width: 200px;
            height: 100px;
            border: 5px solid grey;
            border-radius: 50px;
            background-color: transparent;
        } 
          
          path {
            stroke: #ccc;
            stroke-width: 16px;
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
            animation: 10s mountainAnimation forwards;
          }

        
    }
}

@keyframes mountainAnimation {
    from {
     stroke-dashoffset: 2000;
      opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
  }