.weather {
    width: 100vw;
    height: 100vh;
    background-color: $weather;
    background-image: linear-gradient(to right, rgba(255,0,0,0), $weather),url(../images/weather.jpg);
    background-size: cover;
    opacity: .8;

    div {
        @include positioned;
        h2 { 
            text-align: center;
            font-size: 3.5rem;
            color: $text2;
        }

        span {
            font-size: 2.7rem;
            float: left;
        }

        button {
            color: $weather;
            font-size: 3rem;
            width: 170px;
            height: 70px;
            border-radius: 50px;
            border: none;
            background-color: $text2;
            margin: 10px;
            transition: .7s;
            transition-timing-function: linear;

            &:hover {
                color: $text;
                transform: scale(1.1);
                background: #544a7d;
                background: linear-gradient(to right, #ffd452, #544a7d); 
                border: none;
            }
        }

    }
    .prognosis {
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        width: 40%;
    }

    .weatherArrow {
        display: block;
    }

    .temperature, .pressure, .humidity, .clouds, .description, .windSpeed {
        color: $text2;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

